APP_PORT=8080
APP_ENV=development

TRANSLATION_API_URL=http://127.0.0.1:5000
TRANSLATION_API_TIMEOUT=20s

GITHUB_API_URL=https://api.github.com
GITHUB_API_TIMEOUT=10s
GITHUB_API_USER_LOGIN=test
GITHUB_API_ORGS_LOGIN=["test","test2"]

REDIS_ADDR=localhost:6379
REDIS_USER=default
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CACHE_TTL=168h
